:root {
  --secound-color: #757575;
  --third-color: #212121;
  --grey-background-color: #f5f4fa;
  --white-color: #fff;
  --main-color: #2196f3;
}

$secound-color: #757575;
$third-color: #212121;
$dark-background-color: #2f303a;
$grey-background-color: #f5f4fa;
$white-color: #fff;
$black-color: #000;
$main-color: #2196f3;
$border-bottom-color: #ececec;
$border-projects-color: #eeeeee;
$soc-med-color: #afb1b8;
$border-inp-color: #21212133;
$txt-plchold-color: #75757580;
$foo-inp-plchold-color: #ffffff99;